/* Cabeçalho */
.site-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #2c136d;

}

.section-text{
    font-family: "Fugaz One", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
    color:#2c136d
}

.common-text{
    font-family: "Fugaz One", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    color:#181818
}

.white-text{
    font-family: "Fugaz One", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    color:#d6d6d6;
}

.white-text-menu{
    font-family: "Fugaz One", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    color:#d6d6d6;
    list-style: none;
    display: flex;
    gap: 48px;
}


.logo h1 {
    margin: 0;
    font-size: 24px;
}

.logo p {
    margin: 0;
    font-size: 12px;
}

.nav-menu {
    list-style: none;
    display: flex;
    gap: 15px;
    margin: 0;
    padding: 0;
}

.nav-link {
    text-decoration: none;
    color: white;
    font-size: 14px;
}

/* Carrossel */
.carousel {
    margin-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel-item {
    width: 200px;
    height: 300px;
    margin: 0 10px;
    position: relative;
    overflow: hidden;
}

.carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    opacity: 0.6;
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.slick-center img {
    opacity: 1;
    transform: scale(1.1);
}

/* Seções */
section {
    padding: 40px 20px;
    text-align: center;
}

.about-content, .games {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.about-card, .game-card {
    width: 200px;
    height: 150px;
    background: #ddd;
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center;
    border: 1px solid #ccc;
    border-radius: 8px;
}

/* Rodapé */
.site-footer {
    text-align: center;
    background-color: #2c136d;
    color: white;
    padding: 20px;
}

/* Formulário de Contato */
#contato .contact-container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    max-width: 800px;
    margin: 0 auto;
}

.contact-text {
    flex: 1;
    padding-right: 20px;
}

.contact-form input, .contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.contact-form button {
    padding: 10px 20px;
    background-color: #2c136d;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


/* Suavização de rolagem */
html {
    scroll-behavior: smooth;
}

